#emacs backups
\#*#
*~

#elisp macros
*.el
*.elc

#TGAS wherever they end up
TAGS

#zipity do da
*.zip

#more binary stuff
*.o
*.a
*.lib
*.exe

#just ignore the whole scripts, samples and wiki folders for now
scripts/*
wiki/*
samples/*